# Python general
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.hypothesis/

# IDE / Editor specific
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db

# --- Project Specific --- #

# Generated data from preprocess.py
data/processed/

# Generated models and logs from pretrain.py
# It's good practice to not track large model files in git.
# If you want to track the final model, uncomment the line below.
models/
# !models/tenho_model.keras

# Old directories no longer in use
data_zip/
data_unzipped/
data/
processed_data/

# Old file no longer in use
data.zip